.home-body {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}

.heading {
  margin-top: 10rem;
  width: 30rem;
}

.heading h2 {
  text-align: left;
  font-size: 96px;
  margin-top: 0;
}

.profile {
  /* background-color: aqua; */
  width: 32rem;
  height: 35rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1.1);
}

.profile img {
  z-index: 5;
}

.topCircle {
  width: 26rem;
  height: 26rem;
  border: 2px dashed black;
  border-radius: 50%;
  position: absolute;
  left: 3.6rem;
  bottom: 2.5rem;
}

.bottomCircle {
  width: 24rem;
  height: 24rem;
  border: 1.5px dashed black;
  border-radius: 50%;
  position: absolute;
  left: 3.6rem;
  bottom: 1.5rem;
}

.about {
  height: 100vh;
  background-color: rgb(51, 65, 85);
  position: relative;
}

.about img {
  position: absolute;
  right: 0;
  height: 100vh;
  opacity: 20%;
}

.innerRect {
  position: absolute;
  width: 96%;
  height: 92vh;
  z-index: 6;
  top: 4%;
  left: 2%;
  box-sizing: border-box;
  border: 40px solid rgb(195,199,211);
  text-align: left;
  padding: 3rem 8rem;
  color: white;
}

.innerRect h3{
    font-size: 80px;
    margin-top: 0;
}

.innerRect p{
    font-size: 36px;
}

.skillsPage{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  /* height: 100vh; */
}

.skillsContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillsContainer h3{
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 40px;
}

.skillCards{
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  width: 80%;

}

.skillCards div{
  width: 120px;
  height: 150px;
  margin: 5px
}

.skillCards > div > h4{
  width: 100%;
  margin: 10px 0;
}

.projects{
    position: relative;
    background-color: rgb(80,101,130);
    width: 100%;
}

.flex{
    /* background-color: blue; */
    width: 80%;
    height: 100vh;
    position: absolute;
    z-index: 5;
    top:0;
    text-align: left;
    left:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex h3{
    margin-top: 2rem;
    font-size: 80px;
    align-self: flex-start;
}



.projIndex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  /* background-color: aqua; */
}

.projectDiv{
  /* background-color: aqua; */
  width: 95%;
  display: flex;
  margin: 2rem 0;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.projectDiv .siteCover{
width: 50rem;
box-shadow: 0px 13px 15px -5px rgba(0,0,0,.5);
border-radius: 10px;
}

.projectInfo{
  text-align: right;
  position: absolute;
  width: 40rem;
  right: 5rem
}

.projectInfo h4{
  font-size: 22px;
}

.description{
  background-color: rgb(55, 55, 55);
  color: white;
  padding: 1rem;
  line-height: 1.5rem;
  font-size: 18px;
  text-align: left;
  box-shadow: 0px 13px 15px -5px rgba(0,0,0,.5);
  border-radius: 5px;
}

img.ghBtn{
  width: 30px;
}

.techContainer{
  display: flex;
  justify-content: flex-end;
}

.techContainer div{
  margin: 0 2px;
}



