/* Variables */
:root {
  --darkestBlue: rgb(51, 65, 85);
  --lightGray: rgb(195, 199, 211);

  --fs-h2: 6rem;
  --fs-p-home: 2rem;
  --fs-h3: 4.8rem;
  --fs-p-about: 2rem;
}

body {
  width: 100vw;
}
/* ------------------------------ */
/* -----------Home Page---------- */
/* ------------------------------ */
.home_body {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 11rem;
  height: 78vh;
}

.heading {
  width: 35rem;
}

.heading > h2 {
  text-align: left;
  font-size: var(--fs-h2);
  margin-bottom: 0;
}

.heading > p {
  font-size: var(--fs-p-home);
  margin: 1rem 0;
}

.profile {
  max-width: 500px;
  max-height: 540px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home_image {
  width: 100%;
}

.swipe_down {
  display: none;
}

/* ------------------------------ */
/* -----------About Page--------- */
/* ------------------------------ */
.about {
  width: 100%;
  height: 100vh;
  background-color: var(--darkestBlue);
  position: relative;
}

.about img {
  position: absolute;
  right: 0;
  height: 100%;
  opacity: 20%;
}

.innerRect {
  position: absolute;
  width: 96%;
  height: 92vh;
  z-index: 6;
  top: 4%;
  left: 2%;
  box-sizing: border-box;
  border: 40px solid var(--lightGray);
  text-align: left;
  padding: 2% 5%;
  color: white;
}

.innerRect h3 {
  font-size: var(--fs-h3);
  margin-top: 0;
}

.innerRect > p {
  font-size: var(--fs-p-about);
}

/* ------------------------------ */
/* ---------Skills Page---------- */
/* ------------------------------ */
.skillsPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

/* -----Shades Top Banner-------- */

.topShadesContainer {
  width: 100%;
  height: 25vh;
}

.shadeLine {
  position: relative;
  width: 100%;
  height: 14.3%;
  box-shadow: 0px 4px 4px 0 rgb(0, 0, 0, 0.4);
}

.t-white {
  background-color: white;
  z-index: 1;
}
.t-blue2 {
  background-color: rgb(215, 231, 255);
  z-index: 2;
}
.t-blue3 {
  background-color: rgb(157, 191, 241);
  z-index: 3;
}
.t-blue4 {
  background-color: rgb(135, 166, 211);
  z-index: 4;
}
.t-blue5 {
  background-color: rgb(111, 138, 176);
  z-index: 5;
}
.t-blue6 {
  background-color: rgb(80, 101, 130);
  z-index: 6;
}
.t-blue7 {
  background-color: rgb(65, 82, 107);
  z-index: 7;
}

/* -----Shades Bottom Banner----- */

.bottomShadesContainer {
  width: 100%;
  height: 25vh;
}
.b-white {
  background-color: white;
  z-index: 7;
}
.b-blue2 {
  background-color: rgb(215, 231, 255);
  z-index: 6;
}
.b-blue3 {
  background-color: rgb(157, 191, 241);
  z-index: 5;
}
.b-blue4 {
  background-color: rgb(135, 166, 211);
  z-index: 4;
}
.b-blue5 {
  background-color: rgb(111, 138, 176);
  z-index: 3;
}
.b-blue6 {
  background-color: rgb(80, 101, 130);
  z-index: 2;
}
.b-blue7 {
  background-color: rgb(65, 82, 107);
  z-index: 1;
}

.skillsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillsContainer > h3 {
  font-size: var(--fs-h3);
  margin-top: 0;
  margin-bottom: 40px;
}

.skillCards {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  width: 80%;
}

.skillCards > div {
  width: 120px;
  height: 150px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillCards > div > h4 {
  width: 100%;
  margin: 10px 0;
  text-align: center;
}

/* ------------------------------ */
/* ---------Projects Page-------- */
/* ------------------------------ */
.projects {
  width: 100%;
  background-color: rgb(26, 33, 43);
  color: white;
  height: fit-content;
}

.flex {
  width: 80%;
  z-index: 5;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.flex > h3 {
  margin-top: 2rem;
  font-size: var(--fs-h3);
  align-self: flex-start;
}

.projIndex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.projectDiv {
  width: 100%;
  display: flex;
  margin: 2rem 0;
  align-items: center;
  justify-content: space-between;
  /* background-color: aqua; */
}

.projectDiv .siteCover {
  width: 50rem;
  box-shadow: 0px 13px 15px -5px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  transition: 0.25s ease-in-out;
}

.projectDiv .siteCover:hover {
  transform: scale(1.05);
}

.projectInfo {
  text-align: right;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* background-color: blue; */
}

.projectInfo > h4 {
  max-width: 30rem;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.techContainer {
  display: flex;
  justify-content: flex-end;
}

.techContainer > div {
  font-size: 1.3rem;
  margin: 0 2px;
}

.description {
  background-color: rgb(55, 55, 55);
  color: white;
  padding: 1rem;
  line-height: 1.5rem;
  font-size: 1.4rem;
  text-align: left;
  box-shadow: 0px 13px 15px -5px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

img.ghBtn {
  width: 2.3rem;
  transition: .1s ease-in-out;
}
img.ghBtn:hover{
  filter: invert(1);
}



/* ------------------------------ */
/* ---------Icon Scroll---------- */
/* ------------------------------ */
.icon-scroll,
.icon-scroll:before {
  position: absolute;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  top: 80%;
  right: 50%;
  box-shadow: inset 0 0 0 1px black;
  border-radius: 25px;
  position: absolute;
  z-index: 10;
  border: 1px solid black;
}

.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: black;
  margin-left: -4px;
  left: 50%;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

/* ------------------------------ */
/* -----------Contact Page------- */
/* ------------------------------ */

.contact {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* ------Contact Component------- */

.contact_comp {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contact_comp h2 {
  font-size: 40px;
  margin-left: 11.1rem;
  margin-bottom: 0;
}

.contact_bottom {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.contact_info {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.contact_info,
.form,
.contact_social {
  width: 25rem;
}

.contact_bottom form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form form section {
  width: 100%;
}

.hiddenLabel {
  display: none;
}

.contact_input {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 45px;
  margin: 4px 0;
  font-size: 16px;
  padding: 0.5rem;
}

.textarea {
  height: 5rem;
}

#submit {
  text-align: left;
}

.contact_titles {
  width: 100%;
  font-size: 30px;
  font-weight: 500;
  border-bottom: 1px solid black;
  text-align: left;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.contact_info p {
  font-size: 20px;
  margin: 0.5rem 0;
}

.contact_icons img {
  width: 2.6rem;
  margin-right: 1rem;
}

/* 11 inch macbook air to 1920 */
@media screen and (min-width: 1360px) and (max-width: 1919px){
  /* home section */
  .home_body{
    margin-top: 5rem;
    height: 90vh;
  }

  /* Projects section */
  .flex > h3{
    font-size: 3.5rem;
    margin-bottom: 0;
  }
  
  .projectDiv .siteCover{
    width: 40rem;
  }

  .projectInfo > h4{
    font-size: 2.2rem;
  }

  .techContainer > div{
    font-size: .7rem;
  }

  .description{
    font-size: 1rem;
  }

  /* Contact section */
  .contact_comp > h2{
    text-align: center;
    margin-left: 0;
  }
}

/* Nest Hub and Nest Hub Max */
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  :root{
    --fs-h2: 4rem;
    --fs-p-home: 1.7rem;
    --fs-h3: 3rem;
    --fs-p-about: 1.5rem;
  }

  /*  Home section */
  .home_body {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    height: 92vh;
  }
  
  .heading {
    width: 30rem;
    margin-top: 4.5rem;
  }
  
  .heading > h2 {
    text-align: left;
    font-size: var(--fs-h2);
    margin-bottom: 0;
  }
  
  .heading > p {
    font-size: var(--fs-p-home);
    margin: 1rem 0;
  }
  
  .profile {
    width: 30rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .home_image {
    width: 70%;
  }

  /* About section */
  .innerRect > h3 {
    font-size: var(--fs-h3);
    margin: 0;
  }
  
  .innerRect > p {
    font-size: var(--fs-p-about);
  }

  /* Projects Section */
  .flex {
    width: 90%;
  }
  .flex > h3{
    font-size: var(--fs-h3);
  }
  
  .projectDiv .siteCover {
    width: 30rem;
  }
  
  .projectInfo {
    width: 60%;
  }
  
  .projectInfo > h4 {
    font-size: 2rem;
  }
  
  .techContainer > div {
    font-size: .7rem;
  }
  
  .description {
    font-size: 1rem;
  }

  /* Contact Section */
  .contact {
    height: 50vh; 
  }
  
  /* ------Contact Component------- */
  
  .contact_comp {
    align-items: center; 
  }
  
  .contact_comp > h2 {
    font-size: 2.6rem; 
    margin-left: 0; 
  }
  
  .contact_info,
  .form,
  .contact_social {
    width: 18rem; 
  }
  
  .textarea {
    height: 5rem;
  }
  
  .contact_info p {
    font-size: 1rem; 
  }
  
  .contact_titles {
    font-size: 1.9rem; 
  }

  #submit{
    margin-bottom: 1rem;
  }
}

/* Surface Pro 7 and iPads */
@media screen and (min-width: 768px) and (max-width: 912px) {
  :root{
    --fs-h2: 4rem;
    --fs-p-home: 1.8rem;
    --fs-h3: 3rem;
    --fs-p-about: 1.3rem;
  }

  /* Home section */
  .home_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5rem;
    height: 95vh;
    position: relative;
  }

  .heading {
    width: 25rem;
  }

  .heading > h2 {
    text-align: center;
    font-size: var(--fs-h2);
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .heading > p {
    font-size: var(--fs-p-home);
    margin: 1rem 0;
    text-align: center;
  }

  .profile{
    height: fit-content;
  }

  .home_image {
    width: 100%;
  }

  /* Icon Scroll */
  .icon-scroll {
    display: none;
  }

  .swipe_down {
    display: block;
    position: absolute;
    bottom: 5vh;
  }

  .swipe_down > p {
    font-size: 1.5rem;
    animation: fadeText 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @keyframes fadeText {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* About section */
  .about {
    height: 50vh;
  }
  
  .innerRect {
    height: 92.5%;
  }
  
  .innerRect > h3 {
    margin: 0;
  }

  /* Projects Section */
  .flex > h3 {
    font-size: var(--fs-h3);
    margin-bottom: 0;
  }
  
  .projectDiv {
    flex-direction: column; 
  }
  
  .projectDiv .siteCover {
    width: 100%; 
  }
  
  .projectInfo {
    width: 100%;
  }
  
  .projectInfo > h4 {
    max-width: 100%; 
    font-size: 2.5rem; 
    margin-top: 1rem; 
  }
  
  .techContainer > div {
    font-size: 1.1rem;
  }

  /* Contact Section */
  .contact {
    height: 25vh; 
  }
  
  /* ------Contact Component------- */
  
  .contact_comp {
    align-items: center; 
  }
  
  .contact_comp > h2 {
    font-size: 2.3rem; 
    margin-left: 0; 
  }
  
  .contact_info,
  .form,
  .contact_social {
    width: 13rem; 
  }
  
  .textarea {
    height: 5rem;
  }
  
  .contact_info p {
    font-size: 1rem; 
  }
  
  .contact_titles {
    font-size: 1.7rem; 
  }

  .contact_input{
    height: 2.3rem
  }

  .textarea{
    height: 3.5rem;
  }

  #submit{
    margin-bottom: 1rem;
  }

}

/* Surface Duo */
@media screen and (width: 540px) {
  :root {
    --fs-h2: 2.5rem;
    --fs-p-home: 1.1rem;
    --fs-h3: 2.2rem;
    --fs-p-about: .9rem;
  }


  /* Home section */
  .home_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3.5rem;
    height: 95vh;
    position: relative;
  }

  .heading {
    width: 15rem;
  }

  .heading > h2 {
    text-align: center;
    font-size: var(--fs-h2);
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .heading > p {
    font-size: var(--fs-p-home);
    margin: 1rem 0;
    text-align: center;
  }

  .home_image {
    width: 60%;
  }

  /* Icon Scroll */
  .icon-scroll {
    display: none;
  }

  .swipe_down {
    display: block;
    position: absolute;
    bottom: 5vh;
  }
  .swipe_down > p {
    font-size: 1.2rem;
    animation: fadeText 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @keyframes fadeText {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* About Section */
  .about {
    width: 100%;
    height: 50vh;
    background-color: var(--darkestBlue);
    position: relative;
  }
  
  .innerRect {
    width: 96%;
    height: 91%;
    border: 1.2rem solid var(--lightGray);
  }
  
  .innerRect > h3 {
    font-size: var(--fs-h3);
    margin: 0;
  }
  
  .innerRect > p {
    font-size: var(--fs-p-about);
  }

   /* Projects Section */
   .flex > h3 {
    font-size: var(--fs-h3);
    margin-bottom: 0;
  }
  
  .projectDiv {
    flex-direction: column; 
  }
  
  .projectDiv .siteCover {
    width: 100%; 
  }
  
  .projectInfo {
    width: 100%;
  }
  
  .projectInfo > h4 {
    max-width: 100%; 
    font-size: 1.6rem; 
    margin-top: 1rem; 
  }
  
  .techContainer > div {
    font-size: .7rem;
  }

  .description{
    font-size: 1rem;
  }

  /* Contact Section */
  .contact {
    height: 25vh; 
  }
  
  /* ------Contact Component------- */
  
  .contact_comp {
    align-items: center; 
  }
  
  .contact_comp > h2 {
    font-size: 2.3rem; 
    margin-left: 0; 
  }
  
  .contact_info,
  .form,
  .contact_social {
    width: 10rem; 
  }
  
  .textarea {
    height: 5rem;
  }
  
  .contact_info p {
    font-size: .8rem; 
  }
  
  .contact_titles {
    font-size: 1rem; 
  }

  .contact_input{
    font-size: .8rem;
    height: 1.9rem
  }

  .textarea{
    height: 3.5rem;
  }

  #submit{
    margin-bottom: 1rem;
  }

  .contact_icons > a > img{
    width: 1.8rem;
  }
}

/* Smart Phones */
@media screen and (max-width: 414px) {
  :root {
    --fs-h2: 2.5rem;
    --fs-p-home: 1.1rem;
    --fs-h3: 1.2rem;
    --fs-p-about: .68rem;
  }
  
  /* Home Page */
  .home_body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
    height: 97vh;
    position: relative;
  }

  .heading {
    width: 15rem;
  }

  .heading > h2 {
    text-align: center;
    font-size: var(--fs-h2);
    margin-bottom: 0;
    margin-top: 1rem;
  }

  .heading > p {
    font-size: var(--fs-p-home);
    margin: 1rem 0;
    text-align: center;
  }

  .home_image {
    width: 74%;
  }

  /* Icon Scroll */
  .icon-scroll {
    display: none;
  }

  .swipe_down {
    display: block;
    position: absolute;
    bottom: 2vh;
  }
  .swipe_down > p {
    font-size: 1.2rem;
    animation: fadeText 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  @keyframes fadeText {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* About Page */
  .about {
    height: 45vh;
  }
  
  .innerRect {
    height: 91%;
    border: 1.2rem solid var(--lightGray);
  }
  
  .innerRect > h3 {
    font-size: var(--fs-h3);
    margin: 0;
  }
  
  .innerRect > p {
    font-size: var(--fs-p-about);
  }

  /* Skills Section */
  .skillsContainer > h3 {
    font-size: 2.9rem;
    margin-top: .5rem;
    margin-bottom: 1.5rem;
  }

  .skillCards > div {
    width: 5rem;
    height: 9rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .skillCards > div > h4{
    text-align: center;
  }

 /* Projects Section */
 .flex > h3{
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

 .projectDiv {
  flex-direction: column;
  margin: 1rem 0;
}

.projectDiv .siteCover {
  width: 100%; 
}

.projectInfo {
  width: 100%;
}

.projectInfo > h4 {
  max-width: 100%; 
  font-size: 1.1rem; 
  margin-top: 1rem; 
}

.techContainer > div {
  font-size: .45rem;
}

.description{
  line-height: 1rem;
  font-size: .7rem;
}

img.ghBtn{
  width: 1.6rem;
}

/* Contact Section */
.contact {
  height: 76vh;
}

/* ------Contact Component------- */

.contact_comp {
  align-items: center; 
}

.contact_comp > h2 {
  font-size: 1.8rem; 
  margin-left: 0; 
}

.contact_bottom{
  flex-direction: column;
  align-items: center;
}

.contact_info,
.form,
.contact_social {
  width: 15rem; 
}

.textarea {
  height: 5rem;
}

.contact_info p {
  font-size: .8rem; 
}

.contact_titles {
  font-size: 1rem; 
}

.contact_input{
  font-size: .8rem;
  height: 1.5rem
}

.textarea{
  height: 3.5rem;
}

#submit{
  margin-bottom: 1rem;
}

.contact_icons{
  display: flex;
  margin-bottom: 1rem;
}

.contact_icons > a > img{
  width: 1.5rem;
}

}

/* Galaxy Fold */
@media screen and (max-width: 280px) {
  :root {
    --fs-h2: 2rem;
    --fs-h3: 1.2rem;
    --fs-p-about: .57rem;
  }
  
  /* Home Page */
  .home_body {
    margin-top: 3rem;
    height: 93vh;
  }

  .heading {
    width: 14rem;
  }

  .home_image {
    width: 90%;
  }

  /* Swipe Down Indicator */
  .swipe_down {
    bottom: 5vh;
  }

   /* About Page */
   .about {
    height: 45vh;
  }
  
  .innerRect {
    height: 91%;
    border: 1rem solid var(--lightGray);
  }
  
  .innerRect > h3 {
    font-size: var(--fs-h3);
    margin: 0;
  }
  
  .innerRect > p {
    font-size: var(--fs-p-about);
    margin-top: .2rem;
  }

  /* Skills Section */
  .skillsContainer > h3 {
    font-size: 2.1rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  .skillCards > div {
    width: 5rem;
    height: 9rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .skillCards > div > h4{
    text-align: center;
  }

  /* Projects Section */
  .projIndex{
    width: 95%; /*! */
  }
  
  .projectInfo > h4 {
    margin-bottom: .5rem; /*! */
  }
  
  .description{
    font-size: .5rem; /*! */
    padding: .5rem; /*! */
  }
  
  img.ghBtn{
    width: 1.4rem; /*! */
  }

/* Contact Section */
.contact {
  height: 80vh;
}

}
